body{
	margin: 0px;
	left: 0px;
	font-family: "arial";
}

/*全局按钮CSS*/
.fl-btn{
	border-radius: 6px;
	background: rgb(255,255,255);
	font-family: "arial";
	border: none;
	height: 24px;
	margin-left: 8px;
}

.fl-btn:hover{
	background: rgb(249,249,249);
}
/*全局按钮CSS*/

.top-panel{
	height: 50px;
	width: 100%;
	background: rgb(228,226,227);
	border-bottom: 2px solid rgb(210,209,210);
}

.top-left-panel{
	float: left;
	margin-left: 60px;
	margin-top: 14px;
}

.top-right-panel{
	float: right;
	margin-right: 60px;
	margin-top: 14px;
}

