body{
	margin: 0px;
	left: 0px;
	font-family: "arial";
}

/*全局按钮CSS*/
.fl-btn{
	border-radius: 6px;
	background: rgb(255,255,255);
	font-family: "arial";
	border: none;
	height: 24px;
	margin-left: 8px;
}

.fl-btn:hover{
	background: rgb(249,249,249);
}
/*全局按钮CSS*/

.top-panel{
	height: 50px;
	width: 100%;
	background: rgb(228,226,227);
	border-bottom: 2px solid rgb(210,209,210);
}

.top-left-panel{
	float: left;
	margin-left: 60px;
	margin-top: 14px;
}

.top-right-panel{
	float: right;
	margin-right: 60px;
	margin-top: 14px;
}

.chart-right-panel{
	float: right;
	width: 228px;
	border-left: 2px solid rgb(210,209,210);
    position: absolute;
    top: 52px;
    bottom: 0px;
    right: 0px;
}

.chart-ratio{
	bottom: 0px;
	border-top: 2px solid rgb(210,209,210);
	height: 20px;
	position: absolute;
	width: 100%;
}

.chart-ratio-form{
	width: 150px;
	border: none;
	height: 20px;
	padding-right: 10px;
	border-right: 2px solid rgb(210,209,210);
}

.rare-ratio{
	margin-left: 164px;
	margin-top: -20px;
	width: 40px;
}

.chart-ratio-cover{
	float: right;
	margin-right: 228px;
	background: rgb(255,255,255);
	width: 20px;
	height: 20px;
	margin-top: -19px;
}

/*属性面板*/
.chart-list{
	color: rgb(136,136,136);
	font-size: 14px;
	margin-top: 18px;
}

.chart-list h4{
	font-weight: lighter;
	background: rgb(248,248,248);
	padding-left: 10px;
	height: 20px;
	padding-top: 4px;
	margin-top: -18px;
	border-bottom: 1px solid rgb(210,209,210);
}

.chart-list h4:hover{
	background: rgb(238,238,238);
	cursor: pointer;
}

.chart-list .list-content{
	color: rgb(69,69,69);
	margin-top: -20px;
	padding-left: 10px;
	padding-top: 6px;
}