body{
	margin: 0px;
	background: rgb(226,224,227);
	font-family: "微软雅黑";
}

header{
	position: fixed;
	top: 0px;
	width: 100%;
}

*{
	box-sizing:none;
}

nav{
	width: 100%;
	background: rgb(230,0,39);
	padding-bottom: 12px;
	padding-top: 8px;
	color: rgb(255,255,255);
}

.main-page,.login-page{
	width: 100%;
	position: absolute;
}

.loading{
	display: none;
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgb(200,200,200);
	opacity: 0.6;
}

.loading-main{
	text-align: center;
	width: 200px;
	height: 100px;
	margin: 0 auto;
	padding-top: 61.666666%;
	color: rgb(20,20,20);
	font-size: 30px;
}

/*侧边栏开始*/

.login-page{
	height: 100%;
	background: rgb(230,228,231);
	width: 74.55%;
	box-shadow: -4px 0px 12px 2px rgb(190,190,192) inset;
	display: none;
}

.logo-area{
	margin: 0 auto;
	width: 180px;
	margin-top: 20.920502%;
	color: rgb(116,114,117);
	font-size: 18px;
	text-align: center;
	letter-spacing: 8px;
	font-style: italic;
}

.logo-area img{
	display: block;
	margin: 0 auto;
}

.lo-re-area{
	width: 83.682008%;
	margin: 0 auto;
	margin-top: 10.273972%;
	letter-spacing: 4px;
	text-align: center;
	color: rgb(192,11,41);
	font-size: 18px;
}

.lo-re-area .fast-register{
	font-style: italic;
	padding-top: 20px;
	font-size: 16px;
	cursor: pointer;
}

.fast-register a{
	text-decoration: none;
	color: rgb(192,11,41);
}

.fast-register a:hover{
	color: rgb(173,79,97);
}

.button-caution{
	width: 100%;
	margin-bottom: 20px;
}

/*侧边栏结束*/

.nav-content{
	display: table;
	margin-left: 14px;
	color: rgb(255,255,255);
	width: 100%;
}

.nav-content ul{
	list-style: none;
	margin: 0px;
	display: table-row;
	width: 100%;
}

.nav-content ul li{
	display: table-cell;
	font-size: 20px;
}

.nav-content ul li:first-child:active{
	color: rgb(230,0,39);
}

.nav-content ul li:first-child{
	font-size: 20px;
	cursor: pointer;
	width: 13.75%;
}

.nav-content ul .main-title{
	width: 23.75%;
}

.nav-content ul .recipe-title{
	font-size: 1.125em;
}

@media screen and (max-width: 800px){
	.nav-content ul .recipe-title{
		font-size: 22px;
	}
}

@media screen and (max-width: 400px){
	.nav-content ul .recipe-title{
		font-size: 1.125em;
	}
}

@media screen and (max-width: 300px){
	.nav-content ul .recipe-title{
		font-size: 1em;
	}
}




.search-form input{
	width: 82.75%;
	height: 26px;
	border: none;
	border-radius: 4px;
	font-size: 12px;
	color: rgb(0,0,0);
	text-align: center;
}

/*头部结束*/

section{
	padding: 0px;
}

/*幻灯片开始*/

.banner{
	position: relative;
	margin-top: -6px;
	width: 100%;
}

.banner ul{
	list-style: none;
	margin-left: -40px;
	width: 100%;
}

.banner ul li{
	float: left;
	height: 150px;
	box-shadow: inset 0 -3px 6px rgba(0,0,0,.1);
	background-size: 100% 150px;
}

/*会员专享开始*/

.vip-enjoy{
	margin-top: 14px;
	margin-bottom: 14px;
	margin-left: 14px;
	margin-right: 14px;
	border-radius: 4px;
	background: rgb(255,255,255);
	box-shadow: 1px 1px 1px rgb(199,199,199);
}

.vip-enjoy:active{
	background: rgb(249,249,249);
}

.vip-video{
	height: 200px;
	border-bottom: 1px solid rgb(0,0,0);
}

.vip-video video{
	width: 100%;
	height: 200px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px; 
}

.vip-video img{
	width: 100%;
	height: 200px;
	position: absolute;
	left: 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;		
}

.vip-content{
	padding: 10px;
	cursor: pointer;
}

.vip-title{
	font-size: 18px;
}

.vip-title a{
	text-decoration: none;
	color: #333;
}

.vip-post{
	color: rgb(139,139,139);
}

.vip-post a{
	text-decoration: none;
	color: rgb(139,139,139);
}

.vip-menu{
	color: rgb(139,139,139);
	font-size: 18px;
	display: table;
	margin-top: 10px;
	width: 100%;
}

.vip-menu ul{
	list-style: none;
	display: table-row;
}

.vip-menu ul li{
	display: table-cell;
	width: 33.4558275%;
	text-align: center;
	cursor: pointer;
}

.vip-menu ul li:hover{
	color: rgb(179,179,179);
}

.teacher-brand{
	position: absolute;
	width: 60px;
	height: 60px;
	background: rgb(230,0,39);
	margin-top: -140px;
	margin-right: 20px;
	color: rgb(255,255,255);
	text-align: center;
	font-size: 14px;
	right: 20px;
}

.teacher-brand img{
	width: 100%;
	height: 100%;
}

/*侧边栏工具菜单开始*/

.column-menu{
	margin-top: 12.552301%;
	color: rgb(97,95,98);
	font-size: 16px;
	width: 99.9%;
}

.column-menu ul{
	list-style: none;
	margin-left: -40px;
}

.column-menu ul li{
	border-top: 1px solid rgb(250,250,250);
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 12.552301%;
	margin-bottom: 1px;
	cursor: pointer;
}

.column-menu ul li:last-child{
	border-bottom: 1px solid rgb(250,250,250);
}

.column-menu ul li:hover{
	background: rgb(204,202,205);
}

.column-menu ul li span{
	color: rgb(181,25,49);
	margin-right: 20px;
}

#response-flag{
	font-size: 50px;
	color: rgb(255,0,0);
	height: 12px;
	position: absolute;
	top: 69.5833333%;
}

.column-menu li a{
	text-decoration: none;
	color: rgb(97,95,98);
}

/*阅读列表页面开始*/

.header-title{
	width: 100%;
	text-align: center;
	font-size: 16px;
}

.header-back{
	float: left;
	margin-left: 14px;
	cursor: pointer;
}

.header-back:active{
	color: rgb(230,0,39);
}

.search-page input{
	width: 70%;
}

.header-reading-menu{
	font-size: 12px;
	display: table;
	width: 90%;
	text-align: center;
	cursor: pointer;
	margin: 0px auto;
	margin-top: 8px;
	margin-bottom: -2px
}

.header-reading-menu-active{
	padding-bottom: 2px;
	border-bottom: 1px solid rgb(255,255,255);
}

.header-reading-menu ul{
	list-style: none;
	display: table-row;
	width: 100%;
}

.header-reading-menu ul li{
	display: table-cell;
}

/*阅读列表正列表开始*/

.reading-page{

}

.reading-list-a{
	cursor: pointer;
	margin-left: 14px;
	margin-top: 14px;
	margin-right:14px;
	border-radius: 4px;
	height: 140px;
	background: rgb(255,255,255);
	box-shadow: 1px 1px 1px rgb(199,199,199);
}

.reading-list-a:active{
	background: rgb(241,241,241);
}

.reading-list-img{
	float: left;
	height: 100%;
	width: 41.09589%;
}

.reading-list-img img{
	width: 100%;
	height:100%;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.reading-list-all-content{
	padding: 10px;
	float: left;
	margin-left: 0px;
	width: 58.904109%;
	height: 82.857142%;
}

.reading-list-all-title{
	font-size: 16px;
	cursor: pointer;
}

.reading-list-all-title p a{
	text-decoration: none;
	color: rgb(74,74,74);
}

.readling-list-title-small{
	font-size: 13px;
}

.reading-list-all-title p a:hover{
	color: rgb(74,74,74);
}

.reading-list-all-summary{
	font-size: 12px;
	color: rgb(139,139,139);
	padding-bottom: 4px;
}

.reading-list-all-summary p a{
	text-decoration: none;
	color: rgb(139,139,139);
}

.reading-list-all-footer{
	color: rgb(200,200,200);
}

.reading-list-all-footer ul{
	list-style: none;
	font-size: 10px;
	margin: 0px;
	width: 100%;
}

.reading-list-all-footer ul li{
	padding-right: 10px;
	padding-left: 10px;
}

.reading-list-all-footer ul li:first-child{
	float: left;
}

.reading-list-all-footer ul li:last-child{
	float: right;
}

.padding-div-row{
	height: 14px;
	width: 100%;
}

/*收到的回复页面开始*/

.reversion-list-a{
	height: 100px;
}

.reversion-list-img{
	width: 100px;
}

.reversion-looked{
	color: rgb(168,168,168);
	height: 80px;
}

.reversion-new .reading-list-all-footer ul li:last-child{
	margin-right: 24px;
}

/*.reversion-new .reading-list-all-content{
	border-right: 1px solid rgb(199,199,199);
}*/

.reversion-new .reading-list-all-title{

}

.reversion-new-flag{
	width: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left: 1px solid rgb(199,199,199);
}

/*设置界面开始*/

.setting-list{
	color: rgb(79,79,79);
	font-size: 16px;
	margin-top: 14px;
	width: 100%;
}

.setting-list ul{
	list-style: none;
	margin-left: -40px;
}

.setting-list ul li{
	background: rgb(255,255,255);
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 14px;
	cursor: pointer;
}

.setting-list ul li span{
	color: rgb(203,203,203);
	float: right;
	margin-right: 14px;
	margin-top: 4px;
}

.setting-list-second{
	margin-top: 1px;
}

.setting-list-third{
	margin-top: 14px;
}

.setting-list ul li:last-child{
	margin-top: 14px;
}

/*修改/找回密码页面开始*/

.change-password-input{
	margin-top: 18.75%;
}

.change-password-input ul li:last-child{
	margin-top: 1px;
}

.change-password-input ul li:hover{
	cursor: default;
}

.change-password-input ul li input{
	border: none;
}

.change-password-submit-button{
	padding: 36px;
	font-size: 18px;
}

.change-password-submit-button .fast-register{
	padding-top: 20px;
	color: rgb(178,176,179);
	font-style: italic;
	font-size: 16px;
	text-align: center;
}

.change-password-submit-button .true-register{
	color: rgb(192,11,41);
}

.change-password-submit-button .true-register span{
	cursor: pointer;
}

.change-password-submit-button .true-register #login-faster-register{
	padding-right: 12.5%;
}

.change-password-submit-button .true-register #login-find-pw{
	padding-left: 12.5%;
}

.change-password-input ul #setting-list-phone-num-input{
	border-bottom: 1px solid rgb(226,224,227);
}

.change-password-input ul #setting-list-phone-num-input input{
	width: 150px;
}

.change-password-input ul .send-ver-code{
	width: auto;
	position: absolute;
	font-size: 12px;
	right: 14px;
}

/*用户注册页面开始*/

.register-area{
	margin-top: 13.920502%;
}

.wechat-logo{
	text-align: center;
	margin-top: 22px;
}

.wechat-logo img{
	width: 100px;
	height: 100px;
	cursor: pointer;
}

/*修改资料页面开始*/

.setting-list #wechat-nickname{
	border-top: 1px solid rgb(204,204,204);
	border-bottom: 1px solid rgb(204,204,204);
}

.setting-list #wechat-nickname input{
	width: 100%;
	color: rgb(102,102,102);
	text-align: center;
}

.profile-upload-photo{
	font-style: normal;
}

.profile-upload-photo span{
	padding-top: 2px;
	cursor: pointer;
}
		
.profile-phtot-uploaded{
	cursor: pointer;
	padding-top: 8px;
	height: 111px;
	width: 111px;
	border-radius: 58px;
	border: 1px solid rgb(208,206,208);
	margin: 0 auto;
	box-shadow: 0px 0px 16px 8px rgb(208,207,209) inset;
}

.profile-phtot-uploaded img{
	border-radius: 47.5px;
	box-shadow: 0px 0px 4px 1px rgb(208,207,209);
}

/*食谱页面开始*/

.nav-recipe-menu{
	display: table;
	width: 100%;
	margin-top: 10px;
}

.nav-recipe-menu ul{
	list-style: none;
	display: table-row;
}

.nav-recipe-menu li{
	display: table-cell;
	text-align: center;
	font-size: 16px;
}

.nav-recipe-menu li a{
	text-decoration: none;
	color: rgb(255,255,255);
}

.nav-recipe-menu li span{
	font-size: 11px;
}

.nav-recipe-menu li:first-child{
	cursor: pointer;
	font-size: 14px;
}

.nav-recipe-menu li:last-child{
	cursor: pointer;
	font-size: 14px;
}

.recipe-menu-container{
	position: absolute;
	top: 86px;
	z-index: 1000;
	width: 100%;
	display: none;
}

.recipe-menu-slidedown{
	width: 100%;
	display: table;
	background: rgb(255,255,255);
	opacity: 0.6;
	color: rgb(10,0,0);
	font-size: 14px;
}

.recipe-menu-slidedown ul{
	display: table-row;
	width: 200%;
	list-style: none;
	text-align: center;
}

.recipe-menu-slidedown ul li{
	z-index: 65565;
	text-align: center;
	cursor: pointer;
	padding-top: 20px;
	padding-bottom: 20px;
	display: table-cell;
	border-right: 1px solid rgb(200,198,199);
	border-bottom: 1px solid rgb(200,198,199);
}

.recipe-menu-slidedown ul li img{
	width: 50px;
	height: 50px;
	margin: 0 auto;
	display: block;
}

/*底部开始*/

footer{
	z-index: 1000;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background: rgb(241,241,241);
	font-size: 12px;
}

.main-footer{
	display: table;
	width: 100%;
}

.main-footer ul{
	display: table-row;
	list-style: none;
	text-align: center;
}

.main-footer ul li{
	padding-top: 4px;
	padding-bottom: 4px;
	display: table-cell;
	text-align: center;
	cursor: pointer;
	width: 33.333%;
}

.main-footer ul li a{
	text-decoration: none;
	color: rgb(0,0,0);
}

.main-footer ul li img{
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto;
}

.main-footer-menu-active{
	color: rgb(149,38,55);
}

/*recipes introduction*/
.vip-enjoy-padding {
  margin: 0px;
  margin-top: -1px;
}
.vip-enjoy-padding .vip-video {
  border-radius: 0px;
}
.vip-enjoy-padding .vip-video video {
  border-radius: 0px;
}
.vip-content-time {
  width: 100%;
  display: table;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid rgb(212,212,212);
  margin-top: 20px;
}
.vip-content-time ul {
  width: 100%;
  margin: 0 auto;
  display: table-row;
}
.vip-content-time ul li {
  list-style-type: none;
  width: 33.3%;
  text-align: center;
  font-size:0.9375em;
  color: rgb(167,167,167);
  display: table-cell;
}
.vip-content-time #introduction-time-list2 li {
  font-size:1.5em;
  color: rgb(167,34,29);
}
.introduction-teacher-brand {
  top: 365px;
}
.introduction-comment {
  width: 100%;
  display: table;
  padding-right: 14px;
}
.introduction-comment .introduction-comment-ul {
  display: table-row;
  width: 100%;
}
.introduction-comment .introduction-comment-ul li {
  display: table-cell;
}
.offical-comments {
  width: 150%;
  padding-right: 25px;
}
.logo-area {
  width: 100%;
  margin-top:14px;
}
.introduction-comment .introduction-comment-ul .introduction-comment-photo {
  }
.introduction-comment .introduction-comment-ul .introduction-comment-input {
  width: 70%;
}
.introduction-comment .introduction-comment-ul .introduction-comment-input input {
  height: 67px;
  width: 95%;
}
.introduction-comment-ul .introduction-comment-show {
  width:100%;
}
.introduction-photo-uploaded {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.introduction-comment-ul .introduction-comment-show .introduction-comment-showComment {
  width: 100%;
  display: table;
}
.introduction-comment-ul .introduction-comment-show .introduction-comment-showComment ul {
  display: table-row;
}
.introduction-comment-ul .introduction-comment-show .introduction-comment-showComment ul li {
  display: table-cell;
  width: 10px;
}
.introduction-comment-ul .introduction-comment-show .introduction-comment-showComment ul li:last-child {
  text-align: right;
  color: rgb(117,115,118);
}
.introduction-comment-show ul li h3 {
  font-size: 18px;
}
.introduction-comment-showXiaocai {
  width: 100%;
  display: table;
  border-left: 4px solid rgb(167,34,29);
  padding-left: 10px;
}
.introduction-comment-showXiaocai ul {
  display: table-row;
}
.introduction-comment-ul .introduction-comment-show .introduction-comment-showXiaocai ul li:last-child {
  text-align: right;
  color: rgb(117,115,118);
}
.introduction-comment-showXiaocai ul li {
  display: table-cell;
}
.introduction-comment-showXiaocai p {
  color: rgb(117,115,118);
}
.introduction-comment-showComment-p{
    width: 213%;
    color: rgb(117,115,118);
}
#recipes-introduction-footer {
  width: 100%;
  display: table;
  color: rgb(117,115,118);
  position: fixed;
  bottom: 0px;
  margin-top: 20px;
  background: rgb(241,241,241);
}
#recipes-introduction-footer ul {
  display: table-row;
  margin-left: 50px;
}
#recipes-introduction-footer ul li{
  display: table-cell;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  padding-top: 14px;
  padding-bottom: 14px;
}

#recipes-introduction-footer ul li:active{
	color: rgb(230,0,39);
}

#recipes-introduction-footer #recipes-introduction-footer-ul li span {
  padding-bottom: 2px;
}
.borderActive {
  border-bottom: 1px solid rgb(132,46,57);
  color: rgb(163,25,51);
}

/*skills evaluating*/

.header-skills-evaluating{
	   width: 100%;
	   display: table;
}
.header-skills-evaluating ul{
	  display: table-row;
	  width: 100%;
}
.header-skills-evaluating ul li{
	   display: table-cell;
}
.header-skills-evaluating ul li:first-child{
	    width: 40%;
	    text-align:left;
	    padding-left: 25px;
}
.header-skillsEvaluating-li{
	  width: 20%;
	  text-align: center;
}
.skills-evaluating-img1{
	   width: 100%;
}
.skills-evaluating-img1 img{
	   width: 100%;
	   height: 200px;
	   margin-top: -4px;
}
.skills-evaluating-title{
	  width: 100%;
	  padding-top: 15px
}
.skills-evaluating-title h4,.skills-evaluating-title p{
      padding-left: 20px;
      padding-right: 16px;
      color: rgb(93,91,94);
}

}
.skills-evaluating-title h3{
	font-size: 20px;
}

.skills-evaluating-title p{
	color: rgb(180,180,180);
	font-weight: bold;
	padding-top: 4px;
}

.skeva-content-summary{
	  width: 100%;
	  padding-left: 20px;
	  padding-right: 20px;
	  margin-top: 20px;
}
.skeva-content-summaryIn{
	     width: 100%;
	     background: rgb(255,255,255);
	     padding: 10px;
	     color: rgb(93,91,94);
}
.skeva-content{
	  width: 100%;
	  padding-left: 25px;
	  padding-right: 20px;
	  margin-top: 20px;
	  color: rgb(93,91,94);
	  margin-bottom: -60px;
}

.skeva-content p{
	background: rgb(226,224,227);
}

.skeva-img{
	  width: 100%;
	  padding-left: 25px;
	  padding-right: 25px;
	  margin-bottom: 20px;
	  margin-top: 20px;
}
.skeva-img img{
	  width: 100%;
	  height: 200px;
}
.skeva-xiaocai{
	   width: 100%;
}
.skeva-xiaocai h3{
	   margin: 0 auto;
}
.skeva-xiaocai-content{
	   width: 40%;
	   margin: 0 auto;
	   text-align: center;
	   padding-bottom: 35px;
	   padding-top: 25px;
	   font-size: 1.5em;
	   color: rgb(225,7,49);
}

/*step*/

.step-page{
	   width: 100%;
}
.tomato-sauce{
	  width: 100%;
	  display: table;
}
.tomato-sauce ul #red1{
	      color: rgb(199,29,66);
}
.tomato-sauce ul #red2{
	      color: rgb(199,29,66);
}
.tomato-sauce ul #red3{
	      color: rgb(199,29,66);
}
.tomato-sauce ul{
	  width: 100%;
	  display: table-row;
	  text-align: center;
}
.tomato-sauce ul li{
	   display: table-cell;
	   padding-top: 10px;
	   padding-bottom: 10px;
	   color: rgb(93,94,91);
}
.tomato-sauce ul li:first-child{
	    width: 20%;
	    text-align: right;
	    padding-right:50px;
	    padding-left: 15px;
}
.tomato-sauce ul li:last-child{
	     width: 80%;
	     text-align: left;
	     padding-right: 25px;
}
.tomato-sauce-img{
	  width: 100%;
	  display: table;
}
.tomato-sauce-img ul{
	   width: 100%;
	   display: table-row;
}
.tomato-sauce-img ul li{
	   display: table-cell;
	   width: 50%;
}
.tomato-sauce-img ul li:last-child{
	  padding-right: 25px;
}
.tomato-sauce-img ul li:first-child{
	  padding-left: 25px;
}
.tomato-sauce-img ul li img{
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
}
.step-main-tips{
	   width: 100%;
	   padding-left: 25px;
	   padding-right: 25px;
	   margin-bottom: 25px;
}
.step-tips{
	  width: 100%;
	  background:rgb(249,249,249);
	  box-shadow: 1px 1px 1px #c7c7c7;
}
.step-tips h3{
	   color: rgb(199,29,66);
	   margin-left: 35px;
	   padding-top: 10px;
}
.step-tips ul li{
	   padding-right: 25px;
	   padding-bottom: 10px;
	   color: rgb(93,94,91);
}

/*formula*/

 .formula-buy{ 
     width: 100%;
     display: table;
     text-align: center;
     background:rgb(215,215,215);
     margin-top: 2px;
        /*position: fixed;*/
}

.formula-buy ul li:last-child{
	cursor: pointer;
}

.formula-buy ul li:last-child:active{
	color: rgb(230,0,39);
}

@media screen and (max-width:800px){
    .formula-buy ul li button,.formula-buy ul li span{
    	   font-size: 1em;
    }
}
@media screen and (max-width:600px){
    .formula-buy ul li button,.formula-buy ul li span{
    	   font-size: 0.8em;
    }
}
@media screen and (max-width:400px){
    .formula-buy ul li button,.formula-buy ul li span{
    	   font-size: 0.7em;
    }
}
@media screen and (max-width:1900px){
    .formula-buy ul li{
    	   font-size: 1.3em;
    }
}
 .formula-buy ul{ 
    display: table-row;
    width: 100%;
}
.formula-buy ul li{ 
     display: table-cell; 
     text-align: center;
}
.formula-buy ul li:last-child{
	   text-align: center;
	   width: 20%;
}
.formula-buy ul li img{
   width: 100px;
   cursor: pointer;
}
.formula-li1{
	  width: 20%;
}
.formula-li2{
	   width: 60%;
	   height: 30px;
}
.button-add{
	  width: 60%;
      border-radius: 30px;
      margin-top: 6px;
      margin-bottom: 6px;
      padding-top: 6px;
      padding-bottom: 6px;
      text-align: center;
      background: rgb(212,0,43);
      color: rgb(255,255,255);
      border:none;
}
.formula-juice{
	   width: 100%;
}
.formula-juice-title{
      width: 100%;
       text-align: left;
       border-bottom: 1px solid rgb(184,186,187);
       padding-bottom: 15px;
       padding-top: 15px;
       padding-left: 20px;
       font-size: 1.1em;

}
.formula-juice-list{
	width: 100%;
	display: table;
}
.formula-juice-list ul{
    width: 100%;
	display: table-row;
}
.formula-juice-list ul li{
	display: table-cell;
	font-size: 14px;
    padding-top: 15px;
	padding-bottom: 15px;
	color: rgb(93,91,94);
}
.formula-juice-list ul .juice-list-li1{
	   text-align: center;
	   width: 20%;
	 }
   .juice-list-li1 span{
       color: rgb(239,51,50);
   }
.formula-juice-list ul .juice-list-li2{
      width: 5%;
      text-align: right;
}
.formula-juice-list ul .juice-list-li3 {
      width: 30%;
      text-align:left;
}

/*monograph*/

.monograph-back{
	padding-top: 14px;
	padding-bottom: 14px;
}

.monograph-header{
	display: table;
	margin-top: -16px;
	margin-bottom: -10px;
}

.monograph-header ul{
	display: table-row;
}

.monograph-header ul li{
	display: table-cell;
	cursor: pointer;
	padding-top: 16px;
	padding-bottom: 10px;
	font-size: 18px;
}

.monograph-header ul li:first-child{
	padding-left: 4px;
	padding-right: 4px;
}

.monograph-header ul li:hover{
	background: rgb(187,0,37);
}


#skills-evaluating-back{
	cursor: pointer;
}
.monograph-img1{
	margin-top: -4px;
	width: 100%;
}
.monograph-img1 img{
	width: 100%;
	height: 200px;
	margin-top: -2px;
}

@media screen and (max-width: 900px){
	.monograph-header{
		padding-left: 63.4586466%;
	}
}

@media screen and (max-width: 500px){
	.monograph-header{
		padding-left: 30.830848%;
	}
}

@media screen and (max-width: 319px){
	.monograph-header{
		padding-left: 2.628318%;
	}

	.monograph-header ul li{
		font-size: 14px;
	}

	.monograph-img1 img{
		margin-top: -8px;
	}
}

@media screen and (min-width: 501px){
	.monograph-header{
		padding-left: 64.759358%;
	}
}

@media screen and (min-width: 900px){
	.monograph-header{
		padding-left: 73.43848%;
	}
}

.content-summary{
	border: 2px solid rgb(220,220,220);
	background:rgb(255,255,255);
	margin: 20px;
}

.content-summaryIn{
	padding: 14px;
	background: rgb(249,249,249);
}

#monograph-brand{
	position: absolute;
	margin-top: -50px;
	margin-right: 20px;
}
#mono-share{
	cursor: pointer;
}
#monograph-member{
	background: rgb(230,0,39);
	font-style: italic;
	width: 80px;
	height: 40px;
	padding-top: 10px;
	margin-top: -280px;
	left: 6px;
	box-shadow: 1px 1px 1px rgb(119,119,119);
}
.monograph-title{
	  padding-left: 18px;
}
.monoshare{
	  width: 100%;
	  height: 100%;
	  background: rgb(163,163,163);
	  opacity: 0.8;
	  top: 0px;
	  left: 0px;
	  position: absolute;
	  display: none;
}
.monoshareDiv{
	    width: 50%;
	    margin-top: 300px;
	    display: table;
	    background: rgb(241,241,241);
	    padding: 6%;
        border-radius: 8px;
        top: -30%;
        left: 25%;
        position: absolute;
}
.monoshareDiv ul{
	   display: table-row;
}
.monoshareDiv ul li{
	   display: table-cell;
	   width: 50%;
	   text-align: center;
	   cursor: pointer;
}
@media screen and (max-width:1900px){
    .monoshareDiv ul li img,.monoshareDiv ul li{
    	   width: 100px;
    	   font-size: 1.8em;
    }
}
@media screen and (max-width:800px){
    .monoshareDiv ul li img,.monoshareDiv ul li{
    	   width: 80px;
    	   font-size: 1.2em;
    }
}
@media screen and (max-width:600px){
    .monoshareDiv ul li img,.monoshareDiv ul li{
    	   width: 70px;
    	   font-size: 1em;
    }
}
@media screen and (max-width:400px){
    .monoshareDiv ul li img,.monoshareDiv ul li{
    	   width: 80px;
    	   font-size: 0.8em;
    }

    .monoshareDiv{
    	left: 16.875%;
    }
}
.monoshareDiv #line li:first-child{
	border-right: 1px solid rgb(212,212,212);
}
.monoshareDiv #monoshare-content li{
	  padding-top: 10px;
}

/*警告提示框*/

.alert-form{
	display: none;
	position: absolute;
	background: rgb(0,0,0);
	opacity: 0.6;
	width: 78.125%;
	padding: 6px;
	bottom: 40px;
	left: 10.9375%;
	z-index: 2000;
	border-radius: 4px;
	color: rgb(255,255,255);
	text-align: center;
}

.nodata-form{
	text-align: center;
	position: absolute;
	z-index: 1000;
	width: 78.125%;
	left: 10.9375%;
	top: 52.083333%;
	color: rgb(170,170,170);
	font-weight: bold;
}
